.schedule {
  border-radius: 10px;
  padding: 20px 30px;
  background-color: #FFFAE8;
  display: inline-block;
}

.schedule-header {
  position: relative;
  height: 40px;
  border-radius: 10px;
  background-color: #D8E5F1;
  margin-bottom: 10px;
}

.schedule-main {
  display: inline-flex;
  --header-color: #C1D4F1;
  --primary-color: #E2E2E2;
  --secondary-color: white;
}

/* Schedule-Pane CSS */
.schedule-pane {
  --width: 175px;
  width: var(--width);
  margin-left: 5px;
}

.pane-time {
  --width: 90px;
  --primary-color: #C1D4F1;
  --secondary-color: #E9EDF2;
  margin-left: 0px;
  margin-right: 5px;
}

.pane-weekend {
  --width:100px;
}

.pane-header {
  position: relative;
  height: 41px;
  width: var(--width);
  border-radius: 10px;
  background-color: var(--header-color);
  margin-bottom: 10px;
}

.times {
  width: var(--width);
  height: 584px;
  display: flex;
  flex-direction: column;
}

.times > div:nth-of-type(odd) {
  background: var(--primary-color);
}

.times > div:nth-of-type(even) {
  background: var(--secondary-color);
}

.times > div:first-child {
  border-radius: 10px 10px 0px 0px;
}

.times > div:last-child {
  border-radius: 0px 0px 10px 10px;
}

.time-block {
  position: relative;
  flex-grow: 1;
}

.text {
  height: 100%;
  width: 100%;
  top: 10px;
  position: absolute;
  z-index: 1;
  text-align: center;
}

.entry-block, .course-block{
  position: absolute;
  z-index: 1;
  width: 100%;
  left: -1px;
  border-radius: 4px;
  border: 1px solid;
}
/*100% -> 30min*/